body {
    margin:0;
}

.tekstonder{
    margin-top: 30px;
}

.logo{
    padding-top: 20px;
    text-align: center;
}

.MainContainer{
    float: left;
    width: 600px;
    padding-left: 70px;
}

.MainContainer1{
    margin-left: 500px;
    width: 600px;
}

.MainContainer2{
    width: 400px;
    float: left;
    margin-left: 500px;
}

.reclamerechts{
    height: 674px;
    width: 400px;
    background-color:rgb(163, 163, 163);
    float:right;  
}

.reclamelinks{
    float: left;
    height: 674px;
    width: 400px;
    background-color: rgb(163, 163, 163);
}

.video{
    margin-left: 30px;
    margin-top: 150px;
    box-shadow: grey 10px 10px;
    width: 340px;
}

.badr{
    margin-left: 30px;
    margin-top: 150px;
    height: 200px;
    box-shadow: grey 10px 10px;
    width: 340px;
}

.maps{
    float:right;
    margin-top: 100px;
    margin-right: 30px;
}

.f{
    background-color: black;
    height: 100px;
    width: 100%;
    float: left;
    bottom: 0;
}

.content{
    min-height: calc(100vh - 100px);
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tekstrechts{
    margin-left: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    
}

th, td {
    padding: 5px;
}

th{
    text-align: left;
    background-color: grey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black; 
  }
  
  li {
    float:left;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  li a {
    display: block;
    color:white;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color:grey;
  }
  
  .active {
    background-color:red;
    color:black;
  }

  .site:link, .site:visited {
    background-color: red;
    color: black;
    padding: 7px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .site:hover, .site:active {
    background-color: grey;
  }